@model PublicOrders.Data.BisData.Models.Examination

@{
    ViewData["Title"] = "Create";
    var doctors = (IEnumerable<SelectListItem>)ViewData["DoctorId"];
    var patients = (IEnumerable<SelectListItem>)ViewData["PatientId"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Examinations</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DoctorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DoctorId" asp-items="doctors" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PatientId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PatientId" asp-items="patients" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
